Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2022-10, with the labels that each got.

#131 add rbac permissions for nodes/status
  charts/internal/cilium/charts/agent/templates/clusterrole.yaml
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#132 update go version to v1.19.2
  .ci/pipeline_definitions
  Dockerfile
  go.mod
  pkg/charts/charts_suite_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#130 Extend configuration to support metal-stack cloud provider.
  charts/internal/cilium/charts/config/templates/configmap.yaml
  charts/internal/cilium/charts/hubble-relay/templates/podsecuritypolicy.yaml
  charts/internal/cilium/values.yaml
  hack/api-reference/cilium.md
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/charts/config.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l

#134 update cilium to v1.12.3
  charts/images.yaml
  charts/internal/cilium/charts/agent/templates/daemonset.yaml
  charts/internal/cilium/charts/config/templates/configmap.yaml
  charts/internal/cilium/charts/hubble-relay/templates/deployment.yaml
  charts/internal/cilium/charts/hubble-ui/templates/deployment.yaml
  charts/internal/cilium/charts/operator/templates/deployment.yaml
  charts/internal/cilium/values.yaml
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s

#135 make it possible to switch between overlay and none overlay mode.
  hack/api-reference/cilium.md
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m
