Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2023-08, with the labels that each got.

#203 Allow propagating pod routes to nodes without overlay network
  hack/api-reference/cilium.md
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/charts/config.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, kind/enhancement, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#206 Update cilium to v1.14.0
  charts/images.yaml
  charts/internal/cilium/charts/agent/templates/clusterrole.yaml
  charts/internal/cilium/charts/agent/templates/daemonset.yaml
  charts/internal/cilium/charts/config/templates/configmap.yaml
  charts/internal/cilium/charts/hubble-relay/templates/clusterrole.yaml
  charts/internal/cilium/charts/hubble-relay/templates/configmap.yaml
  charts/internal/cilium/charts/hubble-relay/templates/deployment.yaml
  charts/internal/cilium/charts/hubble-relay/values.yaml
  charts/internal/cilium/charts/hubble-ui/templates/deployment.yaml
  charts/internal/cilium/charts/operator/templates/clusterrole.yaml
  charts/internal/cilium/charts/operator/templates/deployment.yaml
  charts/internal/cilium/charts/operator/templates/podsecuritypolicy.yaml
  charts/internal/cilium/values.yaml
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#209 update to cilium v1.14.1
  charts/images.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#208 Add support for projected volume kubeconfig
  charts/gardener-extension-admission-cilium/charts/runtime/templates/deplyoment.yaml
  charts/gardener-extension-admission-cilium/values.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s
