Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2023-03, with the labels that each got.

#160 Remove minAllowed.cpu for all components
  charts/gardener-extension-admission-cilium/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-cilium/values.yaml
  charts/gardener-extension-networking-cilium/templates/vpa.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  example/controller-registration.yaml
Labels: area/networking, needs/ok-to-test, reviewed/lgtm, size/xs, area/auto-scaling

#161 update cilium dashboards and replace deprecated http metric
  charts/internal/cilium-monitoring/cilium-agent-metrics-dashboard.json
  charts/internal/cilium-monitoring/cilium-operator-metrics-dashboard.json
  charts/internal/cilium-monitoring/hubble-metrics-dashboard.json
  charts/internal/cilium/values.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl

#163 Enable metrics scraping of extension per default on seed
  charts/gardener-extension-networking-cilium/templates/deployment.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  example/controller-registration.yaml
Labels: area/monitoring, area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#159 disable snat in node and pod cidr range
  charts/internal/cilium/charts/agent/templates/daemonset.yaml
  charts/internal/cilium/values.yaml
  hack/api-reference/cilium.md
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/charts/config.go
  pkg/charts/utils.go
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#168 update to golang 1.20
  .ci/pipeline_definitions
  Dockerfile
  go.mod
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#166 Enable operator ha mode only on cluster with nodes > 1
  charts/internal/cilium/charts/operator/templates/deployment.yaml
  charts/internal/cilium/values.yaml
  pkg/charts/config.go
  pkg/charts/utils.go
Labels: area/high-availability, area/networking, kind/bug, needs/ok-to-test, needs/review, size/s

#169 update to cilium v1.13.1
  charts/images.yaml
  charts/internal/cilium/charts/agent/templates/daemonset.yaml
  charts/internal/cilium/charts/agent/templates/svc.yaml
  charts/internal/cilium/charts/config/templates/configmap.yaml
  charts/internal/cilium/charts/hubble-relay/templates/cronjob.yaml
  charts/internal/cilium/charts/hubble-relay/templates/job.yaml
  charts/internal/cilium/charts/hubble-ui/templates/deployment.yaml
  charts/internal/cilium/charts/operator/templates/deployment.yaml
  charts/internal/cilium/values.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#170 Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-networking-cilium/app/app.go
  go.mod
  go.sum
  pkg/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/inject.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/message_util.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#171 [release-v1.22] Vendor `gardener@1.66.1` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  cmd/gardener-extension-networking-cilium/app/app.go
  go.mod
  go.sum
  pkg/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healthcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/inject.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/message_util.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#172 Make the `gardener-extension-networking-cilium` Service topology-aware
  charts/gardener-extension-networking-cilium/templates/service.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#175 add domain mapping for e2e-default shoot cluster to /etc/hosts
  hack/test-e2e-provider-local.sh
Labels: area/networking, kind/bug, needs/ok-to-test, needs/review, size/xs
