Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2024-05, with the labels that each got.

#317 Fix e2e tests.
  test/e2e/common_test.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#315 Allow using BGP Control Plane
  charts/internal/cilium/charts/config/templates/configmap.yaml
  charts/internal/cilium/values.yaml
  hack/api-reference/cilium.md
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/charts/config.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, ok-to-test

#321 Set policy-cidr-match-mode: "node" to match node CIDRs in networkpolicies.
  charts/internal/cilium/charts/config/templates/configmap.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#307 [GEP-19] Adapt monitoring configuration
  .github/renovate.json5
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  charts/internal/cilium-monitoring/cilium-agent-metrics-dashboard.json
  charts/internal/cilium-monitoring/cilium-operator-metrics-dashboard.json
  charts/internal/cilium-monitoring/hubble-metrics-dashboard.json
  charts/internal/cilium-monitoring/templates/cilium-monitoring-config.yaml
  charts/internal/cilium-monitoring/templates/configmap-dashboards.yaml
  charts/internal/cilium-monitoring/templates/prometheusrule-agent.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-agent.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-hubble.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-operator.yaml
  charts/internal/cilium-monitoring/values.yaml
  cmd/gardener-extension-networking-cilium/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/controller/actuator_reconcile.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l
