Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2024-03, with the labels that each got.

#249 Make repo compliant
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  Makefile
  NOTICE.md
  README.md
  charts/charts.go
  charts/gardener-extension-networking-cilium/doc.go
  cmd/gardener-extension-admission-cilium/app/app.go
  cmd/gardener-extension-admission-cilium/main.go
  cmd/gardener-extension-networking-cilium/app/app.go
  cmd/gardener-extension-networking-cilium/main.go
  example/controller-registration.yaml
  hack/tools.go
  hack/update-codegen.sh
  hack/update-github-templates.sh
  imagevector/image_finders.go
  imagevector/imagevector.go
  pkg/admission/cmd/options.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  pkg/apis/cilium/doc.go
  pkg/apis/cilium/install/install.go
  pkg/apis/cilium/register.go
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/defaults.go
  pkg/apis/cilium/v1alpha1/doc.go
  pkg/apis/cilium/v1alpha1/register.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/config/doc.go
  pkg/apis/config/install/install.go
  pkg/apis/config/loader/loader.go
  pkg/apis/config/register.go
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/defaults.go
  pkg/apis/config/v1alpha1/doc.go
  pkg/apis/config/v1alpha1/register.go
  pkg/apis/config/v1alpha1/types.go
  pkg/charts/charts_suite_test.go
  pkg/charts/utils.go
  pkg/charts/values.go
  pkg/cilium/predicates.go
  pkg/cilium/types.go
  pkg/cmd/config.go
  pkg/cmd/options.go
  pkg/controller/actuator.go
  pkg/controller/actuator_delete.go
  pkg/controller/actuator_migrate.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/actuator_restore.go
  pkg/controller/add.go
  pkg/controller/decode.go
  pkg/controller/status.go
  pkg/healthcheck/add.go
  pkg/webhook/shoot/add.go
  pkg/webhook/shoot/mutator.go
  pkg/webhook/shoot/node_local_dns.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xl, area/compliance, area/ipcei

#233 Drop support for Shoots with Kubernetes version == 1.24
  charts/internal/cilium/charts/agent/templates/podsecuritypolicy.yaml
  charts/internal/cilium/charts/hubble-relay/templates/podsecuritypolicy.yaml
  charts/internal/cilium/charts/operator/templates/podsecuritypolicy.yaml
  charts/internal/cilium/values.yaml
  docs/usage/usage.md
  example/20-network.yaml
  hack/api-reference/cilium.json
  hack/api-reference/cilium.md
  hack/api-reference/config.json
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/charts/config.go
  pkg/charts/utils.go
Labels: area/networking, kind/api-change, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l

#252 unpin go version for linters
  .golangci.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#261 Fix casing of l7 proxy configuration to enable it by default
  charts/internal/cilium/values.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
