Repository gardener/gardener-extension-networking-cilium, pull requests merged in 2025-04, with the labels that each got.

#431 Drop support for Shoots with Kubernetes version <= 1.26
  charts/gardener-extension-admission-cilium/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/templates/service.yaml
  charts/gardener-extension-networking-cilium/templates/poddisruptionbudget.yaml
  charts/gardener-extension-networking-cilium/templates/service.yaml
  charts/internal/cilium/charts/operator/templates/poddisruptionbudget.yaml
  example/controller-registration.yaml
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/webhook.go
  pkg/controller/actuator_reconcile.go
  test/e2e/common_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s

#537 Address TODO legacy networking labels
  charts/gardener-extension-networking-cilium/templates/service.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/cleanup, needs/ok-to-test, needs/review, size/xs

#479 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-cilium/charts/runtime/templates/service.yaml
  charts/gardener-extension-networking-cilium/templates/service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, reviewed/lgtm, size/xs

#543 Explicitly configure metrics and health port and add probes
  charts/gardener-extension-networking-cilium/templates/deployment.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  cmd/gardener-extension-networking-cilium/app/app.go
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#548 Update base image to `debian12`
  Dockerfile
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#544 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/xs, ok-to-test

#551 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  charts/internal/cilium-monitoring/templates/cilium-monitoring-config.yaml
  charts/internal/cilium-monitoring/templates/configmap-dashboards.yaml
  charts/internal/cilium-monitoring/templates/prometheusrule-agent.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-agent.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-hubble.yaml
  charts/internal/cilium-monitoring/templates/scrapeconfig-operator.yaml
  charts/internal/cilium-monitoring/values.yaml
  example/controller-registration.yaml
  pkg/controller/actuator_reconcile.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#550 Only enable bpf-masquerade for IPv4 and dual-stack.
  charts/internal/cilium/charts/config/templates/configmap.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, needs/review, size/xs

#547 Align networking extensions to provider extensions
  charts/gardener-extension-admission-cilium/charts/application/Chart.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/Chart.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/values.yaml
  charts/gardener-extension-networking-cilium/templates/_helpers.tpl
  charts/gardener-extension-networking-cilium/templates/deployment.yaml
  charts/gardener-extension-networking-cilium/templates/poddisruptionbudget.yaml
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  charts/gardener-extension-networking-cilium/templates/service.yaml
  charts/gardener-extension-networking-cilium/templates/serviceaccount.yaml
  charts/gardener-extension-networking-cilium/templates/vpa.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  cmd/gardener-extension-admission-cilium/app/app.go
  cmd/gardener-extension-admission-cilium/main.go
  cmd/gardener-extension-networking-cilium/app/app.go
  cmd/gardener-extension-networking-cilium/main.go
  example/controller-registration.yaml
  go.mod
  pkg/cmd/options.go
  pkg/healthcheck/add.go
Labels: area/networking, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/l

#552 Cleanup permissions.
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#546 Cilium deny all netpol prepare
  Makefile
  charts/internal/cilium/charts/agent/templates/daemonset.yaml
  charts/internal/cilium/charts/envoy/templates/daemonset.yaml
  charts/internal/cilium/charts/hubble-relay/templates/deployment.yaml
  charts/internal/cilium/charts/hubble-relay/templates/network-policy.yaml
  charts/internal/cilium/charts/hubble-ui/templates/deployment.yaml
  charts/internal/cilium/charts/network-policy/templates/nodelocaldns.yaml
  charts/internal/cilium/charts/operator/templates/deployment.yaml
  test/e2e/common_test.go
  test/e2e/network_connectivity_test.go
  test/e2e/network_test.go
  test/templates/network-connectivity-test.yaml.tpl
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#553 extension and admission: Unify templating the VPA resources
  charts/gardener-extension-admission-cilium/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-cilium/charts/runtime/values.yaml
  charts/gardener-extension-networking-cilium/templates/vpa.yaml
  charts/gardener-extension-networking-cilium/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/s, area/auto-scaling

#539 add dual-stack migration and provider status to network resource
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  go.mod
  go.sum
  hack/api-reference/cilium.md
  pkg/apis/cilium/register.go
  pkg/apis/cilium/types_network.go
  pkg/apis/cilium/v1alpha1/types_network.go
  pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cilium/zz_generated.deepcopy.go
  pkg/controller/actuator.go
  pkg/controller/actuator_reconcile.go
  pkg/controller/status.go
Labels: area/networking, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/l, area/ipcei

#559 extension: Fix RBAC
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/regression, needs/ok-to-test, needs/review, size/s

#560 [release-v1.41] extension: Fix RBAC
  charts/gardener-extension-networking-cilium/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s

#562 bump cilium-envoy to v1.32.5
  imagevector/images.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
